doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='./css/ejercicio-pug.css')
    title PlatziGames 
  body 
    header  
      section 
        h1.main__title.main__title--green#title PlatziGames
        a.boton Registro