extend ./componentes.plantilla.pug
block contenidos
  section.intro
    .intro__imagen: img(src=imagen, alt="")
    .intro__contenido 
      h2 #{titulo}
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi accusantium cupiditate nisi officiis cumque distinctio, ullam aperiam qui exercitationem dignissimos, modi iure maxime libero non voluptate ea, fuga optio voluptas? #[span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure nam architecto voluptatum nemo voluptates iste.]
      a.boton Leer más
  //- ul
  //-   each titulo in titulos
  //-     li #{titulo}
  main.contenido
    each titulo in titulos
      +caja(imagen, titulo, contenido)
  